body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#colorful-div {
  width: 100vw;
  height: 100vh;
  background-color: hsl(680, 50%, 50%);
}
