* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: antiquewhite;
}

.container {
  background-color: #9adae6;
  border-radius: 20px;
  padding: 60px;
  margin-top: 20px;
}

.background {
  background-color: #b3c3eb;
}

#box {
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: #caddf3;
}

#box2 {
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100%
  );

  background-size: 200% 200%;
  animation: anim 2s linear infinite;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_element {
  margin-bottom: 10px;
}

.form_element label {
  font-size: 1.1rem;
}

input {
  background-color: #ffffff;
  padding: 10px;

  font-size: 1.2rem;
  width: 16%;
}

#hvilkettal {
  margin-top: 8px;
  margin-bottom: 20px;
}

.form_element #submitguess {
  font-size: 1.1rem;
  width: 25%;
  height: auto;
  border-radius: 14px;
  border-color: rgb(55, 43, 168);
  background-color: rgb(75, 60, 213);
  color: white;
  padding: 4px;
  margin-top: 10px;
}

#resultText {
  font-size: 1.1rem;
  font-style: italic;
  padding: 20px;
}

#tryagain {
  font-size: 0.8rem;
  width: 20%;
  margin-top: 30px;
  height: auto;
  border-radius: 14px;
  border-color: rgb(205, 97, 70);
  background-color: rgb(213, 70, 60);
  color: white;
  padding: 4px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(21, 82, 122);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(15, 20, 82);
  font-size: 1.2rem;
  margin: 12px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes anim {
  100% {
    background-position-x: -200%;
  }
}
